/*
Theme Name: grassroots child
Theme URI: https://grassrootspublishing.wordpress.com/
Description: The grassroots theme is for grassroots scientific journals. 
Author: Victor Venema
Author URI: https://www2.meteo.uni-bonn.de/mitarbeiter/venema/
Template: twentysixteen
Version: 0.1
License: Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
License URI: https://creativecommons.org/licenses/by-sa/4.0/
Tags: grassroots scientific journal, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: grassrootschild

*/

